@import url('reset.css'); 
@import url('typography.css');

body{
	background-color: #f8f8f8;
	margin: auto;
	width: 100%;
	}

div#status-bar	{
	background: url('../img/status-bar-bg.png') repeat-x;
	border-bottom: 2px groove #ffffff;
	height: 40px;
	width: 100%;
	}

div#status-bar-content	{
	margin: 10px auto 0px auto;
	width: 800px;
	}
	
div#status-bar-commands	{
	width: 400px;
	}
	
form#search-form	{
	float: right;
	width: 200px;
	}
	
p#welcome	{
	float: left;
	padding-top: 7px;
	width: 150px;
	}
	
p#action-bar {
	background: url('../img/action-bar-bg.png') no-repeat;
	height: 14px;
	margin-left:200px;
	padding: 8px 28px;
	width: 154px;
	}

p#action-bar a:before	{
	content: '| ';
	}

p#action-bar a[title="License"]:after{
	content: ' |'
	}

form#search-form input[type="text"]	{
	background: url('../img/search-field.png') no-repeat;
	border: none;
	height: 20px;
	padding: 3px 0px 0px 30px;
	width: 170px;
	}	
	
form#search-form input[type="submit"]	{
	display: none;
	}
	
div#header	{
	background: url('../img/header-image.jpg') no-repeat;
	background-color: #6eb9cc;
	background-position: center;
		border-bottom: 2px ridge #ffffff;
	height:250px;
	width: 100%;
	}
	
div#logo	{
	margin: auto;
	padding-top: 25px;
	width: 800px;
	}
	
div#content 	{
	margin: auto;
	padding-bottom: 50px;
	position: relative;
	width: 800px;
	}
	
div#content-top-shadow	{
	background: url('../img/content-top-shadow.png') repeat-x;
	height: 20px;
	width; 100%;
	}
	
div#content-bottom-shadow{
	background: url('../img/content-bottom-shadow.png') repeat-x;
	margin-top: 150px;
	height: 20px;
	width; 100%;
	}
	
div#page-wrapper {
	background-color: #ffffff;
	border: 1px solid #bababa;
	clear: borh;
	height: 600px;
	margin-top: 75px;
	overflow: hidden;
	padding: 15px;
	width: 768px;
	}
	
div#message	{
	margin: 0px 0px 0px 10px;
	width: 750px;
	text-align: justify;
	}
div#message h3	{
	margin-bottom: 20px;
	text-align: center;
	}
	
p#service{
	margin: 5px 0px 5px 20px;
	}
	
h3#scheme{
	margin-top: 10px;
	}
	
p#scheme{
	margin: 5px 0px 5px 20px;
	}
	
p#prices{
	border:  1px solid #bababa;
	}
	
p#prices span#fn1{
	float: right;
	}
	
p#prices span#fn2{
	float: right;
	}
	
p#prices span#fn3{
	float: right;
	}
	
p#prices span#fn4{
	float: right;
	}
	
p#prices span#fn5{
	float: right;
	}
	
p#prices span {
	margin-right:5px;
	}

ul#tabs	{
	margin-top:-35px;
	position: absolute;
	right: -7px;
	top: -65;
	}
ul#tabs li	{
	background: url('../img/tabs-sprite.png') no-repeat;
	float: left;
	height: 35px;
	margin-right: 1px;
	width: 70px;
	}

ul#tabs li a	{
	display: block;
	height: 100%;
	text-indent: -9000px;
	width: 100%;
	}
	
ul#tabs li#previous{
	background-position: 0px 0px;
	width: 80px;
	}

ul#tabs li#previous:hover{
	background-position: 0px -40px;
	}	
	
ul#tabs li#previous:active{
	background-position: 0px -80px;
	}

ul#tabs li#home{
	background-position:-80px 0px;
	}
	
ul#tabs li#home:hover{
	background-position:-80px -40px;
	}
	
ul#tabs li#home:active{
	background-position:-80px -80px;
	}
	
ul#tabs li#portfolio{
	background-position: -150px 0px;
	}
	
ul#tabs li#portfolio:hover{
	background-position: -150px -40px;
	}
	
ul#tabs li#portfolio:active{
	background-position: -150px -80px;
	}
	
ul#tabs li#service{
	background-position: -220px 0px;
	}
	
ul#tabs li#service:hover{
	background-position: -220px -40px;
	}
	
ul#tabs li#service:active{
	background-position: -220px -80px;
	}
	
ul#tabs li#contact{
	background-position: -290px 0px;
	}

ul#tabs li#contact:hover{
	background-position: -290px -40px;
	}
	
ul#tabs li#contact:active{
	background-position: -290px -80px;
	}
	
ul#tabs li#next{
	background-position: -361px 0px;
	}
	
ul#tabs li#next:hover{
	background-position: -361px -40px;
	}

ul#tabs li#next:active{
	background-position: -361px -80px;
	}

div#footer-image{
	background: url('../img/footer-image.jpg') no-repeat;
	background-color: #6eb9cc;
	background-position: center;
	border-top: 2px groove #ffffff;
	border-bottom: 2px ridge #ffffff;
	height: 50px;
	width: 100%;
	}	

p#footer-text{
	background: url('../img/content-top-shadow.png') repeat-x;
	height: 37px;
	padding-top: 13px;
	width: 100%;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	